/.vscode
/archivo-gitignore.txt

/IntroduccionReactJS/nextjs/

/IntroduccionReactJS/primera-app/node_modules/

/IntroduccionReactJS/segunda-app/node_modules/

/FreeCodeCampCurso/npm-debug.log*
/FreeCodeCampCurso/yarn-debug.log*
/FreeCodeCampCurso/yarn-error.log*

