/.vscode
/archivo-gitignore.txt

/IntroduccionReactJS/nextjs/

/IntroduccionReactJS/react-with-jsx/recipe-app/node_modules/

/IntroduccionReactJS/react-state/star-rating/node_modules/
/IntroduccionReactJS/react-state/color-organizer/node_modules/

/IntroduccionReactJS/react-hooks/use-effect-01/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-02/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-03/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-04/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-05/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-06/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-07/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-08/node_modules/
/IntroduccionReactJS/react-hooks/use-layouteffect-01/node_modules/
/IntroduccionReactJS/react-hooks/use-layouteffect-02/node_modules/
/IntroduccionReactJS/react-hooks/use-reducer-01/node_modules/
/IntroduccionReactJS/react-hooks/use-reducer-02/node_modules/
/IntroduccionReactJS/react-hooks/use-reducer-03/node_modules/
/IntroduccionReactJS/react-hooks/use-reducer-04/node_modules/
/IntroduccionReactJS/react-hooks/use-reducer-05/node_modules/

/IntroduccionReactJS/react-data/react-request-data/autho-request-01/node_modules/
/IntroduccionReactJS/react-data/react-request-data/autho-request-02/node_modules/
/IntroduccionReactJS/react-data/react-request-data/displaying-data-list-01/node_modules/
/IntroduccionReactJS/react-data/react-request-data/displaying-empty-list-01/node_modules/
/IntroduccionReactJS/react-data/react-request-data/displaying-list-01/node_modules/
/IntroduccionReactJS/react-data/react-request-data/handle-promise-01/node_modules/
/IntroduccionReactJS/react-data/react-request-data/render-prop-func-01/node_modules/
/IntroduccionReactJS/react-data/react-virtualized-list/manage-big-list/node_modules/
/IntroduccionReactJS/react-data/react-virtualized-list/manage-big-list-02/node_modules/
/IntroduccionReactJS/react-data/react-virtualized-list/using-fetch-comp/node_modules/
/IntroduccionReactJS/react-data/react-virtualized-list/customizing-loading/node_modules/
/IntroduccionReactJS/react-data/react-virtualized-list/react-markdown-app/node_modules/
/IntroduccionReactJS/react-data/react-intro-graphql/react-graphql-app/node_modules/

/IntroduccionReactJS/react-suspense/comp-render-susp-app/node_modules/
/IntroduccionReactJS/react-suspense/susp-error-bound-app/node_modules/

/IntroduccionReactJS/react-testing/proptypes-error-app/node_modules/
/IntroduccionReactJS/react-testing/proptypes-reqvals-app/node_modules/
/IntroduccionReactJS/react-testing/my-typescr-app/node_modules/
/IntroduccionReactJS/react-testing/testing-demo-app/node_modules/
/IntroduccionReactJS/react-testing/star-testing-app/node_modules/

/IntroduccionReactJS/react-router/company-web-app/node_modules/
/IntroduccionReactJS/react-router/company-web-app-02/node_modules/
/IntroduccionReactJS/react-router/color-organizer-routing-app/node_modules/

/IntroduccionReactJS/primera-app/node_modules/
/IntroduccionReactJS/segunda-app/node_modules/

/FreeCodeCampCurso/npm-debug.log*
/FreeCodeCampCurso/yarn-debug.log*
/FreeCodeCampCurso/yarn-error.log*

/FreeCodeCampCurso/freecodecamp-clone/node_modules/
/FreeCodeCampCurso/freecodecamp-clone-clases/node_modules/
/FreeCodeCampCurso/clicks-counter-clases/node_modules/
/FreeCodeCampCurso/clicks-counter/node_modules/