/.vscode
/archivo-gitignore.txt

/IntroduccionReactJS/nextjs/

/IntroduccionReactJS/react-with-jsx/recipe-app/node_modules/

/IntroduccionReactJS/react-state/star-rating/node_modules/
/IntroduccionReactJS/react-state/color-organizer/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-01/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-02/node_modules/
/IntroduccionReactJS/react-hooks/use-effect-03/node_modules/


/IntroduccionReactJS/primera-app/node_modules/

/IntroduccionReactJS/segunda-app/node_modules/

/FreeCodeCampCurso/npm-debug.log*
/FreeCodeCampCurso/yarn-debug.log*
/FreeCodeCampCurso/yarn-error.log*

